{% if item is defined %}{% set boot_drive = hostvars[item].boot_drive %}{% else %}{% set boot_drive = default_boot_drive %}{% endif %}
default coreos
prompt 1
timeout 15

display boot.msg

label coreos
  menu default
  kernel coreos-vmlinuz
  initrd coreos-cpio.gz
  append coreos.first_boot=1 coreos.config.url=http://{{ kick_srvr }}/ks/coreos-installer.json
