default vesamenu.c32
timeout 1
prompt 0 

label {{ kick_media }}
  menu label {{ kick_media }}
  kernel vmlinuz
  append initrd=initrd.img {% if 'atomic' in kick_media %}inst.stage2=http://{{ kick_srvr }}/{{ kick_media }}{% endif %} ks=http://{{ kick_srvr }}/ks/{% if item is defined %}{{ item }}.cfg{% else %}{{ kick_cfg }}{% endif %} net.ifnames=0